.story{
<<<<<<< HEAD

    &__pictures{
        background-color: crimson;
    }

    &__content{
        background-color: darkcyan;
=======
    &__pictures{
        background-color:cornflowerblue;
        grid-column: full-start / col-end 4 ;
    }

    &__content{
        background-color: crimson;
        grid-column: col-end 5 / full-end;
>>>>>>> origin/HEAD
    }
}